@media only screen and (min-width: 768px) {
  /* for desktop view */

  main {
    background: lightgrey;
    float: left;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #64A6BD;
    width: 960px;
    height: 100px;
    top: 0px;
    line-height: 75px;
  }
  
  nav {
    background: #90A8C3;
    top: 0px;
    width: 200px;
    height: 600px;
    float: left;
    line-height: 500px;
  }
  
  #c {
    background: #ADA7C9;
    width: 380px;
    height: 200px;  
    float: left;
    line-height: 150px;
  }
  
  #d{
    background: #D7B9D5;
    width: 380px;
    height: 200px;    
    float: left;
    line-height: 150px;
  }
  
  ul{
    background: pink;
    width: 760px;
    height: 200;
    margin: 0;
    padding: 0;
    bottom: 0px;
  }
  
  li{
    background:#F4CAE0;
    width: 190px;
    height: 250px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: left;
    line-height: 225px;
  }
  
  footer {
    background: black;
    width: 760px;
    height: 150px;
    float: left;
    line-height: 150px;
  } 
}


@media only screen and (max-width: 767px) {
  /* for mobile view */
  
  header {
    background: #64A6BD;
    width: 480px;
    height: 75px;
    top: 0px;
    line-height: 50px;
  }
  
  nav {
    background: #90A8C3;
    width: 480px;
    height: 150px;
    line-height: 125px;
  }
  
  #c {
    background: #ADA7C9;
    width: 480px;
    height: 125px;
    line-height: 100px;
  }
  
  #d{
    background: #D7B9D5;
    width: 480px;
    height: 125px;
    line-height: 100px;
  }
  
  ul{
    background: pink;
    width: 480px;
    margin: 0;
    padding: 0;
  }
  
  li{
    background: #F4CAE0;
    width: 235px;
    height: 250px;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    line-height: 200px;
  }
  
  footer {
    background: black;
    width: 480px;
    height: 80px;
    line-height: 100px; 
  } 
}