*{
  text-align: center;
}



@media only screen and (min-width: 767px) {
  /* for desktop view */
  
  header {
    border: 5px red solid;
    width: 960px;
    height: 100px;
    top: 0px;
  }
  
  nav {
    border: 5px yellow solid;
    top: 0px;
    width: 200px;
    height: 600px;
    float: left;
  }
  
  #c {
    border: 5px blue solid;
    width: 370px;
    height: 200px;  
   
  }
  
  #d{
    border: 5px indigo solid;
    width: 370px;
    height: 200px;    
  
  }
  
  ul{
    border: 5px violet solid;
    width: 760px;
    height: 200;
    margin: 0;
    padding: 0;
  }
  
  li{
    border: 1px black solid;
    width: 190px;
    height: 250px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }
  
  footer {
    border: 5px pink solid;
    width: 760px;
    height: 150px;
  } 
}


@media only screen and (max-width: 767px) {
  /* for mobile view */
  
  header {
    border: 5px red solid;
    width: 480px;
    height: 75px;
    top: 0px;
  }
  
  nav {
    border: 5px yellow solid;
    width: 480px;
    height: 150px;
  }
  
  #c {
    border: 5px blue solid;
    width: 480px;
    height: 125px;
  }
  
  #d{
    border: 5px indigo solid;
    width: 480px;
    height: 125px;
  }
  
  ul{
    border: 5px violet solid;
    width: 480px;
    margin: 0;
    padding: 0;
  }
  
  li{
    border: 1px black solid;
    width: 235px;
    height: 250px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
  }
  
  footer {
    border: 5px pink solid;
    width: 480px;
    height: 80px;
  } 
}

